@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Wordie</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <link rel="stylesheet" href="~/css/site.css" />
    <div>
        <input id="TextGuess1Char0" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess1Char1" class="letterInput" maxlength="1"  type="text" />
        <input id="TextGuess1Char2" class="letterInput" maxlength="1"  type="text" />
        <input id="TextGuess1Char3" class="letterInput" maxlength="1"  type="text" />
        <input id="TextGuess1Char4" class="letterInput" maxlength="1"  type="text" />
    </div>                                    
                                              
    <div>                                     
        <input id="TextGuess2Char0" class="letterInput" maxlength="1"  type="text" />
        <input id="TextGuess2Char1" class="letterInput" maxlength="1"  type="text" />
        <input id="TextGuess2Char2" class="letterInput" maxlength="1"  type="text" />
        <input id="TextGuess2Char3" class="letterInput" maxlength="1"  type="text" />
        <input id="TextGuess2Char4" class="letterInput" maxlength="1"  type="text" />
    </div>

    <div>
        <input id="TextGuess3Char0" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess3Char1" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess3Char2" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess3Char3" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess3Char4" class="letterInput" maxlength="1" type="text" />
    </div>

    <div>
        <input id="TextGuess4Char0" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess4Char1" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess4Char2" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess4Char3" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess4Char4" class="letterInput" maxlength="1" type="text" />
    </div>

    <div>
        <input id="TextGuess5Char0" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess5Char1" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess5Char2" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess5Char3" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess5Char4" class="letterInput" maxlength="1" type="text" />
    </div>

    <div>
        <input id="TextGuess6Char0" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess6Char1" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess6Char2" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess6Char3" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess6Char4" class="letterInput" maxlength="1" type="text" />
    </div>

    <div>
        <button id="KeyboardQ">Q</button>
        <button id="KeyboardW">W</button>
        <button id="KeyboardE">E</button>
        <button id="KeyboardR">R</button>
        <button id="KeyboardT">T</button>
        <button id="KeyboardY">Y</button>
        <button id="KeyboardU">U</button>
        <button id="KeyboardI">I</button>
        <button id="KeyboardO">O</button>
        <button id="KeyboardP">P</button>
        <br />
        <button id="KeyboardA">A</button>
        <button id="KeyboardS">S</button>
        <button id="KeyboardD">D</button>
        <button id="KeyboardF">F</button>
        <button id="KeyboardG">G</button>
        <button id="KeyboardH">H</button>
        <button id="KeyboardJ">J</button>
        <button id="KeyboardK">K</button>
        <button id="KeyboardL">L</button>
        <br />
        <button id="KeyboardEnter">Enter</button>
        <button id="KeyboardZ">Z</button>
        <button id="KeyboardX">X</button>
        <button id="KeyboardC">C</button>
        <button id="KeyboardV">V</button>
        <button id="KeyboardB">B</button>
        <button id="KeyboardN">N</button>
        <button id="KeyboardM">M</button>
        <button id="KeyboardBackspace">Backspace</button>
        <button id="KeyboardTest">Test</button>
    </div>
</div>
