@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Wordie</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <input id="TextGuess1Char0" type="text" />
    <input id="TextGuess1Char1" type="text" />
    <input id="TextGuess1Char2" type="text" />
    <input id="TextGuess1Char3" type="text" />
    <input id="TextGuess1Char4" type="text" />
</div>
