<h3>Game.razor</h3>

<div class="text-center">
    <h1 class="display-4">Wordie</h1>

    @TextboxInput

    <div>
        <input id="TextGuess1Char0" type="text" />
        <input id="TextGuess1Char1" type="text" />
        <input id="TextGuess1Char2" type="text" />
        <input id="TextGuess1Char3" type="text" />
        <input id="TextGuess1Char4" type="text" />
    </div>

    <div>
        <input id="TextGuess2Char0" type="text" />
        <input id="TextGuess2Char1" type="text" />
        <input id="TextGuess2Char2" type="text" />
        <input id="TextGuess2Char3" type="text" />
        <input id="TextGuess2Char4" type="text" />
    </div>

    <div>
        <input id="TextGuess3Char0" type="text" />
        <input id="TextGuess3Char1" type="text" />
        <input id="TextGuess3Char2" type="text" />
        <input id="TextGuess3Char3" type="text" />
        <input id="TextGuess3Char4" type="text" />
    </div>

    <div>
        <input id="TextGuess4Char0" type="text" />
        <input id="TextGuess4Char1" type="text" />
        <input id="TextGuess4Char2" type="text" />
        <input id="TextGuess4Char3" type="text" />
        <input id="TextGuess4Char4" type="text" />
    </div>

    <div>
        <input id="TextGuess5Char0" type="text" />
        <input id="TextGuess5Char1" type="text" />
        <input id="TextGuess5Char2" type="text" />
        <input id="TextGuess5Char3" type="text" />
        <input id="TextGuess5Char4" type="text" />
    </div>

    <div>
        <input id="TextGuess6Char0" type="text" />
        <input id="TextGuess6Char1" type="text" />
        <input id="TextGuess6Char2" type="text" />
        <input id="TextGuess6Char3" type="text" />
        <input id="TextGuess6Char4" type="text" />
    </div>

    <div>
        <button id="KeyboardQ" @onclick="SelectKeyboardText" @bind-="keyboardText">Q</button>
        <button id="KeyboardW">W</button>
        <button id="KeyboardE">E</button>
        <button id="KeyboardR">R</button>
        <button id="KeyboardT">T</button>
        <button id="KeyboardY">Y</button>
        <button id="KeyboardU">U</button>
        <button id="KeyboardI">I</button>
        <button id="KeyboardO">O</button>
        <button id="KeyboardP">P</button>
        <br />
        <button id="KeyboardA">A</button>
        <button id="KeyboardS">S</button>
        <button id="KeyboardD">D</button>
        <button id="KeyboardF">F</button>
        <button id="KeyboardG">G</button>
        <button id="KeyboardH">H</button>
        <button id="KeyboardJ">J</button>
        <button id="KeyboardK">K</button>
        <button id="KeyboardL">L</button>
        <br />
        <button id="KeyboardEnter">Enter</button>
        <button id="KeyboardZ">Z</button>
        <button id="KeyboardX">X</button>
        <button id="KeyboardC">C</button>
        <button id="KeyboardV">V</button>
        <button id="KeyboardB">B</button>
        <button id="KeyboardN">N</button>
        <button id="KeyboardM">M</button>
        <button id="KeyboardBackspace">Backspace</button>
    </div>
</div>


@code {
    private string keyboardText;
    private string TextboxInput { get; set; }

    void SelectKeyboardText()
    {
        keyboardText = "Q";
        TextboxInput = keyboardText;
    }

}
